@import url("./node_modules/bootstrap/dist/css/bootstrap.css");
@import url("./node_modules/bootstrap/dist/css/bootstrap-theme.css");
@import url("./node_modules/codemirror/lib/codemirror.css")
@import url("typeahead.css");
/*@import url("./node_modules/jquery-ui/themes/base/all.css");*/

body {
    padding-top: 70px;
}

bliss-clock {
    cursor: pointer;
    display: block;
}

bliss-field {
    font-weight: normal;
    text-align:  left;
}

/* Animate bliss-tab moves */
bliss-tabset li {
    transition: .15s ease-in-out;
}


/**
 * Make room to indicate where a tab would be positioned when dropped.
 * Note this changes (left/top or right/bottom) depending upon whether
 * the tab being dragged comes `before` or `after` the tab that its
 * currently being dragged over.
 */
bliss-tabset li.drag-over-before {
    padding-left: 4em;
}

bliss-tabset li.drag-over-after {
    padding-right: 4em;
}

bliss-tabset ul.nav-stacked li.drag-over-before {
    padding-left: 0;
    padding-top:  4em;
}

bliss-tabset ul.nav-stacked li.drag-over-after {
    padding-right:  0;
    padding-bottom: 4em;
}

bliss-messages hr {
    padding-top: 10px;
    padding-bottom: 10px;
}

bliss-messages div.container {
    display: block;
    overflow-y: auto;
    height: 200px;
    width: 100%;
    word-break: break-word;
}

bliss-messages .log-command  { background-color: #d9edf7; }
bliss-messages .log-critical { background-color: #f2dede; }
bliss-messages .log-error    { background-color: #f2dede; }
bliss-messages .log-info     { background-color: #ffffff; }
bliss-messages .log-notice   { background-color: #d9edf7; }
bliss-messages .log-program  { background-color: #d9edf7; }
bliss-messages .log-warning  { background-color: #fcf8e3; }

.bliss-led-on {color: green}
.bliss-led-start {color: green}
.bliss-led-pending {color: yellow}
.bliss-led-error {color: red}
.bliss-led-off {color: red}
.bliss-led-stop {color: red}

.glyphicon.glyphicon-dot:before {
    margin: 0px;
    padding: 0px;
    content: "\25cf";
    font-size: 1.5em;
}

.popover {
    width: 400px;
    min-width: 200px;
    max-width: 400px;
}

#command-args-form {
    margin-top: 20px;
    overflow-x: hidden;
}

#commanding-modal .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#commanding-modal .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

#cmdAccordions {
    margin-top: 20px;
    height: 455px;
    width: 100%;
    overflow: auto;
}

#cmdAccordions ul {
    padding: 0;
    list-style-type: none;
}

#cmdAccordions .panel-body{
    padding: 0;
    border: none;
    box-shadow: none;
}

#command-args-form {
    width: 100%;
    height: 435px;
    overflow-y: auto;
}

p.navbar-text.bliss-status-indicators {
    margin-top: 10px;
}

span.sim-monitor.glyphicon-play {
    margin-top: 7px;
}

span.sim-monitor.glyphicon-stop {
    margin-top: 7px;
}

codeMirrorExecGutter {
    width: 20px;
}

.bliss-script-pause {color: red}
.bliss-script-paused {color: red}
.bliss-script-play {color: green}
.bliss-script-stopped {color: black}
.bliss-script-running {color: green}
.bliss-script-error {color: red}
