/**
 * Global External Library CSS
 */
@import "./node_modules/bootstrap/dist/css/bootstrap.css";
@import "./node_modules/bootstrap/dist/css/bootstrap-theme.css";
@import "./node_modules/codemirror/lib/codemirror.css";
@import "./css/typeahead.css";

/**
 * BLISS GUI Component CSS
 */
@import "./css/bliss/gui/Script.css";
@import "./css/bliss/gui/Messages.css";
@import "./css/bliss/gui/Sequence.css";
@import "./css/bliss/gui/TabSet.css";

body {
    padding-top: 70px;
}

bliss-clock {
    cursor: pointer;
    display: block;
}

bliss-field {
    font-weight: normal;
    text-align:  left;
}

bliss-plot {
    display: block;
}

/* Animate bliss-tab moves */
bliss-tabset li {
    transition: .15s ease-in-out;
}


/**
 * Make room to indicate where a tab would be positioned when dropped.
 * Note this changes (left/top or right/bottom) depending upon whether
 * the tab being dragged comes `before` or `after` the tab that its
 * currently being dragged over.
 */
bliss-tabset li.drag-over-before {
    padding-left: 4em;
}

bliss-tabset li.drag-over-after {
    padding-right: 4em;
}

bliss-tabset ul.nav-stacked li.drag-over-before {
    padding-left: 0;
    padding-top:  4em;
}

bliss-tabset ul.nav-stacked li.drag-over-after {
    padding-right:  0;
    padding-bottom: 4em;
}


.bliss-led-on {color: green}
.bliss-led-start {color: green}
.bliss-led-pending {color: yellow}
.bliss-led-error {color: red}
.bliss-led-off {color: red}
.bliss-led-stop {color: red}

.glyphicon.glyphicon-dot:before {
    margin: 0px;
    padding: 0px;
    content: "\25cf";
    font-size: 1.5em;
}

.popover {
    width: 400px;
    min-width: 200px;
    max-width: 400px;
}

#command-args-form {
    margin-top: 20px;
    overflow-x: hidden;
}

.cmdAccordionsList {
    height: 430px;
    width: 100%;
    overflow: auto;
}

#cmdAccordions ul {
    padding: 0;
    list-style-type: none;
}

#cmdAccordions .panel-body{
    padding: 0;
    border: none;
    box-shadow: none;
}

#command-args-form {
    width: 100%;
    height: 435px;
    overflow-y: auto;
}

.panel-heading {
    display: block;
    cursor: pointer;
}

.command-list {
    list-style-type: none;
}

p.navbar-text.bliss-status-indicators {
    margin-top: 10px;
}

span.sim-monitor.glyphicon-play {
    margin-top: 7px;
}

span.sim-monitor.glyphicon-stop {
    margin-top: 7px;
}

codeMirrorExecGutter {
    width: 20px;
}

/**
 * Main Site Layout
 */
@media (min-width: 1945px) {
    .site-container {
        display: grid;
        grid-template-columns: 2fr 4fr;
        grid-template-rows: auto 1fr 10px;
        grid-template-areas:
            "ctrl        telem"
            "footer      footer"
            "leftnote    rightnote";
    }
}

@media (max-width: 1944px) {
    .site-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 80vh 20px auto 10px;
        grid-template-areas:
            "telem    telem"
            "space    space"
            "ctrl     ctrl"
            "leftnote rightnote";
    }
}

.telemcontainer {
    grid-area: telem;
    overflow-y: auto;
    padding: 0 20px 0 20px;
}

.ctrlcontainer {
    grid-area: ctrl;
    padding: 0 20px 0 20px;
}

.rightnotifycontainer {
    grid-area: rightnote;
    text-align: right;
}

/**
 * Command Tab Layout
 */
.cmd-tab-container {
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "cmdsearch  cmdsearch"
        "cmdbrowser cmdconfig";
    grid-gap: 20px;
}

.cmd-search-container {
    grid-area: cmdsearch;
}

.cmd-browser-container {
    grid-area: cmdbrowser;
}

.cmd-config-container {
    grid-area: cmdconfig
}
