/*
 * Advanced Multi-Mission Operations System (AMMOS) Instrument Toolkit (AIT)
 * Bespoke Link to Instruments and Small Satellites (BLISS)
 *
 * Copyright 2017, by the California Institute of Technology. ALL RIGHTS
 * RESERVED. United States Government Sponsorship acknowledged. Any
 * commercial use must be negotiated with the Office of Technology Transfer
 * at the California Institute of Technology.
 *
 * This software may be subject to U.S. export control laws. By accepting
 * this software, the user agrees to comply with all applicable U.S. export
 * laws and regulations. User has the responsibility to obtain export licenses,
 * or other export authority as may be required before exporting such
 * information to foreign countries or providing access to foreign persons.
 */

/*
 * The following CSS are common values that users want to override for
 * customization of the UI. Values listed are the current defaults.
 */

/****************************************************************************
 *
 * BLISS Message component message severity background colors
 *
 * Each class sets a background color for a message of a given
 * severity when it is displayed in the bliss-messages component.
 *
 * E.g., 
 *   "bliss-messages .entry--critical" sets the background color
 *   for a "critical" message.
 *
 ***************************************************************************/
/*bliss-messages .entry--command  { background-color: #d9edf7; }*/
/*bliss-messages .entry--critical { background-color: #f2dede; }*/
/*bliss-messages .entry--error    { background-color: #f2dede; }*/
/*bliss-messages .entry--info     { background-color: #ffffff; }*/
/*bliss-messages .entry--notice   { background-color: #d9edf7; }*/
/*bliss-messages .entry--program  { background-color: #d9edf7; }*/
/*bliss-messages .entry--warning  { background-color: #fcf8e3; }*/


/****************************************************************************
 *
 * BLISS Script component state colors
 *
 * Each class sets colors for BLISS Script components (specifically
 * the script execution controls and current-line marker) to show
 * execution state information
 *
 * E.g.,
 *   "bliss-script .pause {color: red}" sets the color of script
 *   components when execution is in the "pause" state.
 *
 ***************************************************************************/
/*bliss-script .pause {color: red}*/
/*bliss-script .paused {color: red}*/
/*bliss-script .play {color: green}*/
/*bliss-script .stopped {color: black}*/
/*bliss-script .running {color: green}*/
/*bliss-script .error {color: red}*/
