bliss-messages {
    display: block;
    overflow-y: auto;
    height: 200px;
    width: 100%;
    word-break: break-word;
}

bliss-messages .entry {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 5px;
}

bliss-messages .entry--command  { background-color: #d9edf7; }
bliss-messages .entry--critical { background-color: #f2dede; }
bliss-messages .entry--error    { background-color: #f2dede; }
bliss-messages .entry--info     { background-color: #ffffff; }
bliss-messages .entry--notice   { background-color: #d9edf7; }
bliss-messages .entry--program  { background-color: #d9edf7; }
bliss-messages .entry--warning  { background-color: #fcf8e3; }

bliss-messages .timestamp {
    order: 1;
    min-width: 166px;
    margin-right: 7px;
}

bliss-messages .severity {
    order: 2;
    min-width: 73px;
    margin-right: 5px;
}

bliss-messages .message {
    order: 3;
}
