bliss-script .pause {color: red}
bliss-script .paused {color: red}
bliss-script .play {color: green}
bliss-script .stopped {color: black}
bliss-script .running {color: green}
bliss-script .error {color: red}

bliss-script .load_dialog--hidden {
    display: none;
}

bliss-scriptnotification {
    margin: 20px 0 20px 0;
    display: inline-block;
}
