.timeline {
    width: 80%;
    position: relative;
    margin: 50px 10% 50px 10%;
}

.slider {
    width: 100%;
}

.timeline-start {
    position: absolute;
    top: 20px;
}

.timeline-end {
    position:absolute;
    top: 20px;
    right: 0px;
}

@keyframes move-dot {
  from {left: 0;}
  to {left: 100%;}
}